.app-container {
  border: 1px solid red;
  padding: 50px;
}

.grand-parent {
  border: 1px solid blue;
  padding: 50px;
}

.parent {
  border: 1px solid brown;
  padding: 50px;
}

.child {
  border: 1px solid violet;
  padding: 50px;
}
